[submodule "gum-jsx-core"]
	path = gum-jsx-core
	url = git@github.com:CompendiumLabs/gum-jsx-core
[submodule "gum-jsx-cli"]
	path = gum-jsx-cli
	url = git@github.com:CompendiumLabs/gum-jsx-cli
[submodule "gum-jsx-docs"]
	path = gum-jsx-docs
	url = git@github.com:CompendiumLabs/gum-jsx-docs
[submodule "gum-jsx-edit"]
	path = gum-jsx-edit
	url = git@github.com:CompendiumLabs/gum-jsx-edit
[submodule "gum-jsx-math"]
	path = gum-jsx-math
	url = git@github.com:CompendiumLabs/gum-jsx-math
[submodule "gum-jsx-png"]
	path = gum-jsx-png
	url = git@github.com:CompendiumLabs/gum-jsx-png
[submodule "gum-jsx-pdf"]
	path = gum-jsx-pdf
	url = git@github.com:CompendiumLabs/gum-jsx-pdf
[submodule "gum-jsx-mark"]
	path = gum-jsx-mark
	url = git@github.com:CompendiumLabs/gum-jsx-mark
[submodule "gum-jsx-react"]
	path = gum-jsx-react
	url = git@github.com:CompendiumLabs/gum-jsx-react
[submodule "gum-jsx-maps"]
	path = gum-jsx-maps
	url = git@github.com:CompendiumLabs/gum-jsx-maps
[submodule "gum-jsx-mp4"]
	path = gum-jsx-mp4
	url = git@github.com:CompendiumLabs/gum-jsx-mp4
[submodule "gum-jsx-pptx"]
	path = gum-jsx-pptx
	url = git@github.com:CompendiumLabs/gum-jsx-pptx
[submodule "gum-jsx"]
	path = gum-jsx
	url = git@github.com:CompendiumLabs/gum-jsx
